.body{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

}
.form {
  margin: 20px;
  width: 40%;
  padding: 30px;
  border-radius: 5px;
  border:1px solid grey;
}
.form-control, .form-select{
  background-color: transparent;
}
body{
  background-color:black;
}
